<div class="mc">
    <div class="vid">
        <video src="/assets/vids/Copenhagen Harbour in April Senior.mp4" controls="true"></video>
    </div>
    <img src="/assets/pics/wyalphabg.png" alt="WYc logo" width="160px">
    <div class="vid">
        <video src="/assets/vids/Copenhagen Harbour in April Senior.mp4" controls="true"></video>
    </div>
    <img src="/assets/pics/wyalphabg.png" alt="WYc logo" width="160px">
    <div class="vid">
        <video src="/assets/vids/Copenhagen Harbour in April Senior.mp4" controls="true"></video>
    </div>
    <img src="/assets/pics/wyalphabg.png" alt="WYc logo" width="160px">
    <div class="vid">
        <video src="/assets/vids/Copenhagen Harbour in April Senior.mp4" controls="true"></video>
    </div>
    <img src="/assets/pics/wyalphabg.png" alt="WYc logo" width="160px">
    <div class="vid">
        <video src="/assets/vids/Copenhagen Harbour in April Senior.mp4" controls="true"></video>
    </div>
    <img src="/assets/pics/wyalphabg.png" alt="WYc logo" width="160px">
    <div class="vid">
        <video src="/assets/vids/Copenhagen Harbour in April Senior.mp4" controls="true"></video>
    </div>
    <img src="/assets/pics/wyalphabg.png" alt="WYc logo" width="160px">
    <div class="vid">
        <video src="/assets/vids/Copenhagen Harbour in April Senior.mp4" controls="true"></video>
    </div>
    <img src="/assets/pics/wyalphabg.png" alt="WYc logo" width="160px">
    <div class="vid">
        <video src="/assets/vids/Copenhagen Harbour in April Senior.mp4" controls="true"></video>
    </div>
    <img src="/assets/pics/wyalphabg.png" alt="WYc logo" width="160px">
    <div class="vid">
        <video src="/assets/vids/Copenhagen Harbour in April Senior.mp4" controls="true"></video>
    </div>
    <img src="/assets/pics/wyalphabg.png" alt="WYc logo" width="160px">


</div>
<div id="bg"></div>