<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav>
    <a href="/home">zu Hause </a>
    <a href="/vardashboard">Vr Ar Dash</a>

</nav>
<div>
    <app-kingdom *ngIf="router.url == '/home'"></app-kingdom>
</div>
<router-outlet *ngIf="router.url != '/home'"></router-outlet>
<div id="bg"></div>
<!-- <div class="card" maximize #maximize="maximize">
    <button class="min-button"
        (click)="maximize.minimize()">Exit Full
    </button>
    <button class="max-button"
        (click)="maximize.maximize()">Full Screen
    </button>
</div> -->