
body{
  background-color: black;
  color: aquamarine;
}

a{
  margin: 20px 15px;
  

}
.mc{
  background-color: black;
}
.card{
  text-align: right;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hotpink;
  }
