<nav>
    <a href="/home">
       
        <span class="material-icons">
            home
            </span>
    </a>
    <a href="/vardashboard"><span class="material-icons">
        3d_rotation
        </span></a>

</nav>
<div>
    <app-kingdom *ngIf="router.url == '/home'"></app-kingdom>
</div>
<router-outlet *ngIf="router.url != '/home'"></router-outlet>
<div id="bg"></div>
<!-- <div class="card" maximize #maximize="maximize">
    <button class="min-button"
        (click)="maximize.minimize()">Exit Full
    </button>
    <button class="max-button"
        (click)="maximize.maximize()">Full Screen
    </button>
</div> -->